In [1]:
cars = ['Honda', 'Toyota', 'Tesla', 'Subaru', 'Volkswagen']

In [2]:
type(cars)

list

In [3]:
print(cars[0])

Honda

In [4]:
#number of elements in the list
len(cars)

5

In [5]:
#Last element in the list
print(cars[-1])

Volkswagen

In [6]:
#Update elements in a list 
cars[3] = 'Hyundai'
print(cars)

['Honda', 'Toyota', 'Tesla', 'Hyundai', 'Volkswagen']

In [9]:
#Add elements at the end of the list: note you can only append on element at a time
cars.append('Maserati')
cars

['Honda', 'Toyota', 'Tesla', 'Hyundai', 'Volkswagen', 'Maserati', 'Maserati']

In [10]:
#Add an element at a specified postion in the list
cars.insert(2, 'Nissan')
cars

['Honda',
 'Toyota',
 'Nissan',
 'Tesla',
 'Hyundai',
 'Volkswagen',
 'Maserati',
 'Maserati']

In [12]:
#Add multiple elements at the end of a list
cars.extend(['Bugatti', 'Audi'])
cars

['Honda',
 'Toyota',
 'Nissan',
 'Tesla',
 'Hyundai',
 'Volkswagen',
 'Maserati',
 'Maserati',
 'Bugatti',
 'Audi']

In [13]:
#Concatenate list (adding two list together) adds the list to the end of the first list
cars_2 = ['Porsche', 'Lexus', 'BMW' ]
combine_list = cars + cars_2
combine_list

['Honda',
 'Toyota',
 'Nissan',
 'Tesla',
 'Hyundai',
 'Volkswagen',
 'Maserati',
 'Maserati',
 'Bugatti',
 'Audi',
 'Porsche',
 'Lexus',
 'BMW']

In [14]:
#Find the index position for a particular element
combine_list.index('Tesla')

3

In [15]:
#Remove an element in the list note: remove does not get rid of all values of duplicates just the first instance
combine_list.remove('Maserati')
combine_list

['Honda',
 'Toyota',
 'Nissan',
 'Tesla',
 'Hyundai',
 'Volkswagen',
 'Maserati',
 'Bugatti',
 'Audi',
 'Porsche',
 'Lexus',
 'BMW']

In [18]:
#Using math operators to add elements to a list directly adding those elements to the end of the list
cars += ['Hummer', 'Fiat']
cars

['Honda',
 'Toyota',
 'Nissan',
 'Tesla',
 'Hyundai',
 'Volkswagen',
 'Maserati',
 'Maserati',
 'Bugatti',
 'Audi',
 'Hummer',
 'Fiat',
 'Hummer',
 'Fiat']

In [20]:
#In Alphabetically or ascending order by default
cars.sort()
cars

['Audi',
 'Bugatti',
 'Fiat',
 'Fiat',
 'Honda',
 'Hummer',
 'Hummer',
 'Hyundai',
 'Maserati',
 'Maserati',
 'Nissan',
 'Tesla',
 'Toyota',
 'Volkswagen']

In [23]:
#Reverse the order of elements in the list
combine_list.reverse()
combine_list

['BMW',
 'Lexus',
 'Porsche',
 'Audi',
 'Bugatti',
 'Maserati',
 'Volkswagen',
 'Hyundai',
 'Tesla',
 'Nissan',
 'Toyota',
 'Honda']

In [24]:
#Remove the last element in the list by default
combine_list.pop()
combine_list

['BMW',
 'Lexus',
 'Porsche',
 'Audi',
 'Bugatti',
 'Maserati',
 'Volkswagen',
 'Hyundai',
 'Tesla',
 'Nissan',
 'Toyota']

In [25]:
#Count the amount of times an element occurs in our list
cars.count('Maserati')

2

In [26]:
cars

['Audi',
 'Bugatti',
 'Fiat',
 'Fiat',
 'Honda',
 'Hummer',
 'Hummer',
 'Hyundai',
 'Maserati',
 'Maserati',
 'Nissan',
 'Tesla',
 'Toyota',
 'Volkswagen']

In [27]:
#Remove duplicates from a list of elements
set(cars)

{'Audi',
 'Bugatti',
 'Fiat',
 'Honda',
 'Hummer',
 'Hyundai',
 'Maserati',
 'Nissan',
 'Tesla',
 'Toyota',
 'Volkswagen'}

In [28]:
#Performing set on the list of items do not change the data type
cars

['Audi',
 'Bugatti',
 'Fiat',
 'Fiat',
 'Honda',
 'Hummer',
 'Hummer',
 'Hyundai',
 'Maserati',
 'Maserati',
 'Nissan',
 'Tesla',
 'Toyota',
 'Volkswagen']

In [30]:
#Remove all elements in a list
cars.clear()
cars

[]

In [31]:
#Create a DEEP copy of the list i.e if you remove the original list cars will still contain the copy of elements
cars = combine_list.copy()
cars

['BMW',
 'Lexus',
 'Porsche',
 'Audi',
 'Bugatti',
 'Maserati',
 'Volkswagen',
 'Hyundai',
 'Tesla',
 'Nissan',
 'Toyota']

In [33]:
#Delete a decalred variable from memory
del combine_list

In [34]:
combine_list

NameError: name 'combine_list' is not defined

In [36]:
#Results of a deep copy after removing combine_list from memory
cars

['BMW',
 'Lexus',
 'Porsche',
 'Audi',
 'Bugatti',
 'Maserati',
 'Volkswagen',
 'Hyundai',
 'Tesla',
 'Nissan',
 'Toyota']

In [39]:
#Create a shallow list they both refer to the same list
new_car_list = cars
new_car_list

['BMW',
 'Lexus',
 'Porsche',
 'Audi',
 'Bugatti',
 'Maserati',
 'Volkswagen',
 'Hyundai',
 'Tesla',
 'Nissan',
 'Toyota']

In [40]:
new_car_list.remove('Volkswagen')
new_car_list

['BMW',
 'Lexus',
 'Porsche',
 'Audi',
 'Bugatti',
 'Maserati',
 'Hyundai',
 'Tesla',
 'Nissan',
 'Toyota']

In [41]:
#Note: Volkswagen is removed from both lists automatically even though it was performed on one
cars

['BMW',
 'Lexus',
 'Porsche',
 'Audi',
 'Bugatti',
 'Maserati',
 'Hyundai',
 'Tesla',
 'Nissan',
 'Toyota']