In [1]:
new_tuple = ()

In [2]:
type(new_tuple)

tuple

In [3]:
str_tuple = ("Sophia", "Williams")

In [4]:
int_tuple = (23, 24 ,25)

In [5]:
#Concatenate two tuples
combined = int_tuple + str_tuple
combined

(23, 24, 25, 'Sophia', 'Williams')

In [6]:
str_tuple * 3

('Sophia', 'Williams', 'Sophia', 'Williams', 'Sophia', 'Williams')

In [7]:
mixed_tuple = (1, "Me", 3.4)

In [8]:
#Python automatically assign series of values separated by commas as tuple
more_mixed_tuple = 1, 'Rihanna', 3.14

In [9]:
type(more_mixed_tuple)

tuple

In [11]:
#List within a tuple and a tuple within a tuple
mixture = ("mini", [24, 8, 28], (1,2,3))

In [12]:
mixture[1]

[24, 8, 28]

In [13]:
#Get access to the third element within the list inside the tuple
mixture[1][2]

28

In [14]:
'4' in mixture

False

In [15]:
4 in mixture

False

In [16]:
24 in mixture

False

In [17]:
[24] in mixture

False

In [18]:
#Check if an element existing within the tuple
[24, 8, 28] in mixture

True

In [19]:
'm' not in mixture

True

In [20]:
'mini' not in mixture

False

In [21]:
inter_tuple = (1,2,3,4,5,6)

In [22]:
#Add the elements of a tuple
sum(inter_tuple)

21

In [23]:
#Turn a tuple into a list
list(inter_tuple)

[1, 2, 3, 4, 5, 6]

In [24]:
inter_tuple

(1, 2, 3, 4, 5, 6)

In [27]:
#TUPLES ARE IMMUTABLE- ONCE CREATED THEY CANNOT ME ALTERED JUST SLICED
inter_tuple[6] = 6

TypeError: 'tuple' object does not support item assignment

In [28]:
more_tuple = (1,4,9,9)

In [29]:
#Remove the duplicate values
set(more_tuple)

{1, 4, 9}

In [30]:
#Does not change the original elements because tuples cannot be updated or changed
more_tuple

(1, 4, 9, 9)

In [31]:
#update the list within the tuple
my_tuple = (1,3,4,6,8,[34,67,23])
my_tuple[5][1] = 100
my_tuple

(1, 3, 4, 6, 8, [34, 100, 23])

In [34]:
#Pair each element within both tuples
tup_a = (1,2,3,4,5,6,7,8)
tup_b = ('a','b','c','d','e','f','g','h')
zipped = zip(tup_a, tup_b) #Coordinate values
zipped # ((1,'a'),(2,'b'),(3,'c'), (4,'d'), (5,'e'), (6,'f'), (7,'g'), (8,'h')) - collection of tuples

In [35]:
result = tuple(zipped)

In [36]:
#Nested tuples
result

((1, 'a'),
 (2, 'b'),
 (3, 'c'),
 (4, 'd'),
 (5, 'e'),
 (6, 'f'),
 (7, 'g'),
 (8, 'h'))

In [38]:
#Undo the zip function which created a tuple of tuples
tuple_x, tuple_y =zip(*result)
tuple_x

(1, 2, 3, 4, 5, 6, 7, 8)

In [39]:
tuple_y

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')

In [41]:
#Create a list of tuples
x_plane = (1,2,4,5,6)
y_plane = (0,7,8,9,10)
cord = zip(x_plane,y_plane)

In [42]:
point_on_plane = list(cord)
point_on_plane

[(1, 0), (2, 7), (4, 8), (5, 9), (6, 10)]

In [43]:
numbr = [1,2,3]
upp_tuple = ('ONE', 'TWO', 'THREE', 'FOUR')

In [44]:
#Create a set of tuples
zipper = zip(numbr, upp_tuple)
result_set = set(zipper)
result_set

{(1, 'ONE'), (2, 'TWO'), (3, 'THREE')}

In [45]:
result_set

{(1, 'ONE'), (2, 'TWO'), (3, 'THREE')}

In [47]:
new_dict = dict(result_set)
new_dict

{3: 'THREE', 1: 'ONE', 2: 'TWO'}